{% extends 'userPage.html' %}
{% load staticfiles %}

{% block title %}
Change password
 {% endblock %}

{% block userContent %}

    <h4 > Change password </h4> <hr/>


<form action="" method="post">

 {% if errors|length >= 1 %}
     <div class="errors">
     please fix the following errors:
     <ul>
      {% for error in errors  %}
         <li> {{ error }}</li>
     {% endfor %}
     </ul>
     </div>

  {% endif %}
<p>
<label for="current"> Current password:</label>
<input type="password" name="current"/> </p>

<p>
<label for="new"> New password:</label>
<input type="password" name="new"/></p>

<p>
<label for="newRepeat"> New password (repeat) </label>
<input type="password" name="newRepeat"></p>

{% csrf_token %}
<input type="submit" value="Reset Password">
        </form>



{% endblock %}