{% extends 'solutions.html' %}
{% load staticfiles %}

{% block title %}

    Registration page
 {% endblock %}


            {% block midpage%}


            <div id="register_page_description">
                        <p class="two_parts_title"><a href="/register/register_surgery/">Surgery registration</a></p>

                        <p class="description">Register your surgery with Surgeries Online to access ours online portals and use our services  which
                        includes patient appointment and bookings, history management, prescription managment etc. Surgeries facilitates all forms of
                            interactions between patients and sureries staff
                             </p>
                        <p class="description">
                            We also provide easy access and management of patient history over time with is accessible to patients and medical staff
                            during consultation
                        </p>
            </div>

                <div id="register_page_description">
                        <p class="two_parts_title"><a href="/register/register_patient/">Patient registration with surgery</a></p>
                        <p class="description">
                            Register your hospital with Surgeries online to access our online portals for hospitals. We allow your
                        hospital to receive and manage patient referrals from various surgeries. Monitor an keep track of new referrals, fix referral
                        appointment etc
                             </p>
                        <p class="description">We also support payment for prescriptions, referaals access and management, patients history etc.
                        Patient can also transfrer their existing account form one surgery to another while changing surgeries if both surgeries use
                            our services </p>
            </div>
                 <div id="register_page_description">
                        <p class="two_parts_title"><a href="/register/hospital/">Hospital registration</a></p>
                        <p class="description">
                            For new patients registeration. Patient's surgery must be a registerd surgery that uses Surgeries Online.
                       You can book appointments with doctors and nurses, access you prescriptions, view your referrals etc. You can't also view a detailed history
                        of your appointments etc
                             </p>

            </div>
            {% endblock %}


