{% extends 'hospital/hospitalPage.html' %}

{% block head %}
  {% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<!-- This is a modern and creative business template with a vivid and warm color scheme.
The template was created with HTML, CSS and CSS3, using Gimp and gedit.
Some photos were used from http://www.freedigitalphotos.net/ .

Designed by Ioana Condor
http://behindtheovermind.wordpress.com/
-->

    <!-- Main theme css -->
 <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <style type="text/css">

    </style>
<title> Scheduled referrals</title>
{% endblock %}

{% load staticfiles %}


{% block userContent %}
     <h4 > Referrals</h4> <hr/>

    {% if not referrals|length >= 1 %}
    There are no fixed referrals currently
    {% else %}
        <table class="table_data">
        <thead>
            <td> surgery</td>

            <td>patient name</td>
        <td>NHS No</td>
        <td> appointment</td>
        <td></td>
        </thead>
        {% for ref in referrals %}
            <a href="">
            <tr >
            <td> {{ ref.surgery.name }}</td>

            <td ><a href="/accounts/referral_details/{{ ref.pk }}/">{{ ref.doctorAppointment.get_patient }}</a> </td>
            <td>{{ ref.doctorAppointment.doctorBooking.patient.NHS_No }}</td>
                <td>
                    {{ ref.fixedDate }}| {{ ref.fixedTime }} <br/>

                </td>
                <td>
                    <a href="/accounts/close_referral/{{ ref.pk }}/">close</a>
                </td>
            </tr>
            </a>
        {% endfor %}
        </table>
    {% endif %}






{% endblock %}